<title>Burse</title>
<%= stylesheet_link_tag  "application", media: "all" %>
<%= javascript_include_tag "application"%>
<%= csrf_meta_tags %>    

<style>

html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 75px;
}
.footer {
    background-color: #F5F5F5;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}
body > .container {
    padding: 60px 15px 0;
}
a:hover
{
background-color: initial;

}

</style>