<div role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="<%= root_url %>">Burse</a>
  </div>
  <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav pull-right">

      <li class="dropdown" id="fat-menu">
        <div class="pull-right">
        <%= link_to gravatar_image_tag(@current_user.first_name , :class => 'gravatar'), {controller:'home', action:'index'} %>
        <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#"><%= @current_user.first_name + " " + @current_user.last_name %>
          <b class="caret"></b></a>
          <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
            <li><a href="<%= root_url %>logout">Iesire</a></li>
          </ul>
        </div>
        </li>

      </ul>
    </div>
  </div>

