<div class="col-md-12">
  <br><br>
  <div class="col-md-1 ">  
    <a value="Plus" href="/news/new"  class="btn btn-info "><i class="fa fa-plus-circle fa-2x"></i></a>
  </div>

  <div class="col-md-11">
      <h3 class="btn-add-article">Ultimele stiri</h3>
  </div>
  
  <div class="col-md-12">
  <br><br>
    <%= render 'news/all' %>
  </div>
</div>

