

<table id="all" class="display" data-source="<%= requests_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Tip</th>
      <th>Status</th>
      <th>Vezi</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

    <script>

    $('#all').dataTable({
    "sPaginationType": "bootstrap",
    "bJQueryUI": true,
    "bProcessing": true,
    "bServerSide": true,
    "bPaginate": true,
    "iDisplayLength": 10,
    "sAjaxSource": $('#all').data('source'),
    oLanguage:{
      sUrl: "../datatable_i18n"
    },
    
    
    });

    </script>