

<div class="row">
    <div class="col-md-8">
        <h3>Ultimele stiri</h3>
        <%= render 'news/all' %>
    </div>
    <div class="col-md-2 col-md-offset-1" >
        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#addModal">Adauga o stire</a>
    </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <%= render 'news/form' %>
  </div>
</div>
