<h2>Toate aplicatiile</h1>
<div class="row">

            <div class="col-sm-4" style="background-color: #F9F9F9; height: 100vh; padding: 1em;">
            <div class="img-circle center-block" style="width:160px; height:160px;">
              <i class="fa fa-clock-o" style="  display: inline-block;
                                                   -moz-border-radius: 130px;
                                                    -webkit-border-radius: 130px;
                                                    border-radius: 130px;
                                                    background-color: #f1c40f;
                                                    font-size: 128px;
                                                    line-height: 108px;
                                                    padding: 20px;
                                                     margin-left: 6px;
                                                     color: white;

              "></i>
            </div>            
            <h3 style="text-align:center;width:100%;">In Asteptare
            </h3><br>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><%= @waiting[:sc_name] %><span class="badge pull-right"><%= @waiting[:number] %></span> <a href="#"><i class="fa fa-eye pull-right" style="color: #2980b9;padding-right: 15px;"></i></a></h4>
              </div>
            </div>
            </div>
            <div class="col-sm-4" style="background-color: #E9E9E9; height: 100vh; padding: 1em;">
            <div class="img-circle center-block" style="width:160px; height:160px;">
              <i class="fa fa-check" style="  display: inline-block;
                                                    -moz-border-radius: 128px;
                                                    -webkit-border-radius: 128px;
                                                    border-radius: 128px;
                                                    background-color: #27ae60;
                                                    font-size: 128px;
                                                    line-height: 128px;
                                                    padding: 10px;
                                                     margin-left: 6px;
                                                    color: white;
              "></i>
            </div>  
            <h3 style="text-align:center;width:100%;">Acceptate
            </h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Nu exista aplicatii in acest moment</h4>
              </div>
<!--               <div class="panel-body">
                Detalii despre bursa
                <a href="#"><i class="fa fa-trash-o pull-right" style="color: red; padding-right: 15px;"></i></a>
                <a href="#"><i class="fa fa-pencil pull-right" style="color: #2980b9;padding-right: 15px;"></i></a>
              </div> -->
            </div>
            </div>
            <div class="col-sm-4" style="background-color: #F9F9F9; height: 100vh; padding: 1em;">
            <div class="img-circle center-block" style="width:160px; height:160px;">
              <i class="fa fa-times" style="  display: inline-block;
                                                    -moz-border-radius: 160px;
                                                    -webkit-border-radius: 160px;
                                                    border-radius: 160px;
                                                    background-color: #c0392b;
                                                    font-size: 138px;
                                                    line-height: 110px;
                                                    padding: 20px;
                                                     margin-left: 6px;
                                                    color: white;
              "></i>

            </div>  
            <h3 style="text-align:center;width:100%;">Respinse
            </h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Nu exista aplicatii in acest moment</h4>
              </div>
<!--               <div class="panel-body">
                Detalii despre bursa
                <a href="#"><i class="fa fa-trash-o pull-right" style="color: red; padding-right: 15px;"></i></a>
                <a href="#"><i class="fa fa-pencil pull-right" style="color: #2980b9;padding-right: 15px;"></i></a>
              </div> -->
            </div>
            </div>
          </div>
