/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap3-editable/bootstrap-editable
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap3
 */


/*.sidebar{
	position: fixed !important;
	top: 51px;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #F5F5F5;
	border-right: 1px solid #EEE;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 3.8em;
}

.nav-sidebar > li > a {
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 1.1em;
}

.navbar-default {
    background-image: linear-gradient(to bottom, #FFF 0px, #F8F8F8 100%) !important;
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}*/

#ddlCereri{
    list-style: none;
}

.list-item-cereri {
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-item-cereri a:hover{
    text-decoration: none;
}
.gravatar
{
    width: 50px;
    height: 50px;
}
.article-1x, .article-date-1x, .article-user-1x
{
    font-size: 1em;
}
.article-2x ,.article-date-2x, .article-user-2x
{
    font-size: 1.5em;
}
.article-3x ,.article-date-3x, .article-user-3x
{
    font-size: 3em;
}
.article-date-1x,.article-date-2x,.article-date-3x,
.article-user-1x,.article-user-2x,.article-user-3x
{
    color: black;
}