/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap3
 */


#ddlCereri{
    list-style: none;
}

.list-item-cereri {
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-item-cereri a:hover{
    text-decoration: none;
}
.gravatar
{
    width: 50px;
    height: 50px;
}
.article-1x, .article-date-1x, .article-user-1x
{
    font-size: 1em;
}
.article-2x ,.article-date-2x, .article-user-2x
{
    font-size: 1.5em;
}
.article-3x ,.article-date-3x, .article-user-3x
{
    font-size: 3em;
}
.article-date-1x,.article-date-2x,.article-date-3x,
.article-user-1x,.article-user-2x,.article-user-3x
{
    color: black;
}